/.idea/
/out/

gradlew
gradlew.bat

/data/cfg/
/data/plugins/
/data/rsa/
/data/saves/
/data/xteas/
/data/packets.yml
/data/blocks.yml

/plugins/

game.yml
error.log

first-launch
first-launch-example
