/.idea/
/out/

gradlew
gradlew.bat

/data/xteas/
/data/saves/
/data/packets.yml
/data/blocks.yml

/plugins/
!/plugins/FirstLaunch.kt
!/plugins/GeneralHelper.kt
!/plugins/PlayerHelper.kt
!/plugins/PluginHelper.kt
!/plugins/osrs/OSRSGameframe.kt
!/plugins/osrs/OSRSInterfaces.kt
!/plugins/osrs/OSRSLogin.kt
!/plugins/osrs/OSRSMessageType.kt
!/plugins/osrs/Skills.kt

game.yml
error.log

first-launch-example